requests
beautifulsoup4
pandas==1.5.3
numpy==1.24.4
google-generativeai
pytz
akshare
pandas-ta==0.3.14b0
matplotlib==3.8.4
PyYAML
tenacity
fredapi
markdown
bt==0.2.9      # <--- 强大的回测与策略库
ffn==0.3.6      # <--- bt的依赖库
